<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{index_user::areas(~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="container-xxl py-5">
            <div class="content row">
                <div class="col-lg-3" style="margin-left: 35px;">
                    <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <div class="card border-light mb-3" style="max-width: 18rem;">
                                <div class="card-body">
                                    <div class="d-flex align-content-center justify-content-center">
                                        <img src="{{$u.avatar}}" class="rounded-circle" width="80" height="80" alt="...">

                                    </div>

                                    <h5 class="card-title d-flex justify-content-center">{{$u.fullname}}</h5>
                                    <p class="card-title mt-2 d-flex justify-content-center" style="font-size: 13px;">0 điểm
                                    </p>
                                    <p class="card-title mt-2 d-flex justify-content-center" style="font-size: 13px;">
                                        Số dư TK: {{$pay.pay_money | currency:''}} VNĐ
                                    </p>
                                    <p class="card-title mt-2 d-flex justify-content-center" style="font-size: 13px;">
                                        TK khuyến mãi: 1.000.000 VNĐ
                                    </p>
                                    <a type="button" class="btn btn-primary w-100" href="/home/manager/pay"><i class="fa-solid fa-wallet" style="margin-right: 5px;"></i> Nạp tiền</a>
                                </div>
                            </div>
                            <button class="nav-link " id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="false">Cập nhật thôn tin</button>
                            <button class="nav-link" id="v-pills-password-tab" data-bs-toggle="pill" data-bs-target="#v-pills-password" type="button" role="tab" aria-controls="v-pills-password" aria-selected="false">Đổi mật khẩu</button>

                            <button class="nav-link active" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="true">Quản lý tin đăng</button>
                            <a href="/home/manager/history-transactions" class="nav-link text-center">Lịch sử giao dịch</a>
                            <a href="#" class="nav-link text-center">Lịch sử bài viết đã xóa</a>
                            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Cài đặt</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9" style="margin-left: -50px;">
                    <div class="container mb-5">
                        <div class="row d-flex align-items-center justify-content-center">
                            <div class="col-md-12">
                                <div class="card" th:each="post : ${post_list}">
                                    <div class="d-flex justify-content-between p-2 px-3">
                                        <div class="d-flex flex-row align-items-center">
                                            <img th:src="*{{post.users_id.avatar}}" width="50" height="50" class="rounded-circle">
                                            <div class="d-flex flex-column ml-2">
                                                <span style="font-weight: bold; margin-left: 10px;" th:utext="*{post.users_id.fullname}"></span>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row mt-1 ellipsis">
                                            <small style="margin-right: 10px;" th:utext="*{#dates.format(post.end_date, 'dd/MM/yyyy hh:mm')}"></small>
                                            <div class="dropdown custom-dropdown">
                                                <a href="#" data-toggle="dropdown" class="dropdown-link" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                                </a>

                                                <div class="dropdown-menu dropdown-menu-right" style="width: 200px;" aria-labelledby="dropdownMenuButton">
                                                    <div class="title-wrap d-flex align-items-center">
                                                        <h3 class="title mb-0">Cài đặt</h3>
                                                    </div>
                                                    <ul class="custom-notifications" style="height: 100%;">
                                                        <a href="#" style="color: black;"><i class="fa-regular fa-pen-to-square"></i> Chỉnh sửa bài viết</a>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <img th:src="*{post.albums[0].albums_name}" class="img-fluid">
                                    <div class="p-2">
                                        <p class="text-justify" th:utext="*{post.post_title}">
                                        </p>
                                        <hr>
                                        <div class="d-flex">
                                            <a href="#myModal" class="btn btn-primary" data-toggle="modal" style="margin-right: 10px;"><i class="fa-solid fa-xmark"></i> Hủy bỏ</a>
                                            <a class="btn btn-primary" th:href="@{'/home/manager/post-deadline-extension-action?id=' + ${post.post_id}}">
                                                <i class="fa-solid fa-check"></i> Gia hạn ngay
                                            </a>
                                        </div>
                                    </div>
                                    <div id="myModal" class="modal fade">
                                        <div class="modal-dialog modal-confirm">
                                            <div class="modal-content">
                                                <div class="modal-header flex-column">
                                                    <div class="icon-box">
                                                        <i class="fa-solid fa-xmark" style="font-size: 50px; color:red;"></i>
                                                    </div>
                                                    <h4 class="modal-title w-100" style="color: red;">Bạn có chắc không?</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                        <i class="fa-regular fa-circle-xmark" style="font-size: 25px;"></i>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Bạn có chắc chắn muốn hủy gia hạn bài viết này không?</p>
                                                </div>
                                                <div class="modal-footer justify-content-center">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                                                    <a class="btn btn-danger" th:href="@{'/home/manager/delete-post?id=' + ${post.post_id}}">
                                                        Đồng ý
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div th:if="${error == 'true'}">
            <div class="toast active">
                <div class="toast-content">
                    <i class="fa-solid fa-exclamation" style="color: #ff0000;"></i>
                    <div class="message">
                        <span class="text text-1">Hủy thất bại</span>
                        <span class="text text-2">Không tìm thấy bài viết muốn hủy!</span>
                    </div>
                </div>
                <i class="fa-solid fa-xmark close"></i>

                <div class="progress active"></div>
            </div>
        </div>
    </main>
</body>

</html>