<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid nav-bar bg-transparent">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
            <a href="index.html" class="navbar-brand d-flex align-items-center text-center">
                <div class="icon p-2 me-2">
                    <img class="img-fluid" src="/img/Real_Estate.png" alt="Icon" style="width: 50px; height: 50px;">
                </div>
                <h1 class="m-0 text-primary">Real Estate</h1>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="index.html" class="nav-item nav-link">Nhà đất bán</a>
                    <a href="about.html" class="nav-item nav-link">Nhà đất thuê</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Dự án</a>
                        <div class="dropdown-menu rounded-0 m-0" style="padding: 10px;">
                            <a href="#" ng-repeat="type in types" class="dropdown-item">{{type.types_name}}</a>
                        </div>
                    </div>

                    <a href="/home/contact" class="nav-item nav-link">Liên hệ</a>
                    <!-- <a href="" class="nav-item nav-link">
                        <i class="fa-regular fa-heart" style="color: #fe7f2a; font-size: 20px;"></i>
                    </a> -->
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-bs-toggle="dropdown">
                            <i class="fa-regular fa-heart" style="color: #fe7f2a; font-size: 20px;"></i>
                        </a>
                        <div class="dropdown-menu" style="width: 338px;">
                            <div class="card-header text-center" style="background-color: transparent; font-size: 15px; font-weight: bold;">
                                Tin Đăng Đã Lưu
                            </div>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" ng-repeat="like in likes">
                                    <div class="row" style="margin-bottom: -15px;">
                                        <div class="col-3">
                                            <img src="https://file4.batdongsan.com.vn/resize/1275x717/2023/09/14/20230914191114-f370_wm.jpg" alt="" class="w-100" style="border-radius: 10px; height: 80%;">
                                        </div>
                                        <div class="col-9">
                                            <p class="" style="font-weight: bold; font-size: 13px;">
                                                {{like.post_id.post_title}}
                                            </p>
                                            <p style="color: rgb(95, 95, 95); font-size: 13px;">Lưu {{like.likes_date}} ngày trước</p>
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item text-center mt-2">
                                    <a href="/manager-likes">Xem tất cả <i class="fa-solid fa-angles-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link" data-bs-toggle="dropdown"><i class="fa-regular fa-user" style="color: #fe7f2a; font-size: 20px;"></i> <span style="margin: 0px 10px 0px 10px;">{{$u.fullname}}</span></a>
                        <div class="dropdown-menu rounded-0 m-0" style="padding: 10px;">
                            <a href="/home/manager/post" class="dropdown-item"><i class="fa-solid fa-list-ul"></i> Quản lý đăng tin</a>
                            <a href="/home/manager/profile" class="dropdown-item"><i class="fa-solid fa-user"></i> Cập nhật tài khoản</a>
                            <!-- <a href="#" class="dropdown-item"><i class="fa-solid fa-key"></i> Đổi mật khẩu</a> -->
                            <a href="/home/manager/pay" class="dropdown-item"><i class="fa-solid fa-money-check-dollar"></i> Nạp tiền</a>
                            <hr class="dropdown-divider">
                            <a href="/logout" class="dropdown-item"><i class="fa-solid fa-arrow-right-from-bracket"></i> Đăng xuất</a>
                        </div>
                    </div>
                </div>
                <a href="/home/post" class="btn btn-primary px-3 d-none d-lg-flex">Đăng Tin</a>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
</body>

</html>