<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real Estate Fpoly</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/Real_Estate.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-image: linear-gradient(to bottom left, #ffa626, #fff);
            height: 100vh;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center
          min-vh-100">
            <div class="col-12 col-md-8 col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="mb-4">
                            <h5>Đổi mật khẩu</h5>
                            <hr>
                            <p class="mb-2" style="font-size:13px;">
                                <i class="fa-solid fa-check" style="color: #6bff7c;"></i> Mật khẩu phải đủ 8 ký tự, 1 chữ hoa, 1 chữ thường, 1 ký tự đặt biệt.
                            </p>
                            <p class="mb-2" style="font-size:13px;">
                                <i class="fa-solid fa-check" style="color: #6bff7c;"></i> Mật khẩu xác nhận phải khớp với mật khẩu mới.
                            </p>
                        </div>
                        <form action="/change-password-post" method="post">
                            <div class="mb-3">
                                <label for="email" class="form-label">Mật khẩu mới</label>
                                <input type="password" id="email" class="form-control" name="mkmoi" placeholder="Nhập mật khẩu mới ..." required="">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Xác nhận mật khẩu mới</label>
                                <input type="password" id="email" class="form-control" name="nhaplaimkmoi" placeholder="Nhập lại mật khẩu mới ..." required="">
                            </div>
                            <div class="mb-3 d-grid">
                                <button type="submit" class="btn btn-primary">
                                    Xác nhận
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>