<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real Estate Fpoly</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/Real_Estate.png" type="image/x-icon">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-image: linear-gradient(to bottom left, #ffa626, #fff);
            height: 100vh;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center
          min-vh-100">
            <div class="col-12 col-md-8 col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="mb-4">
                            <h5>Quên mật khẩu?</h5>
                            <hr>
                            <p class="mb-2">Mã xác thực đã được gửi qua email/số điện thoại của bạn
                            </p>
                        </div>
                        <form action="/forget-password-action" method="post">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email/Số điện thoại</label>
                                <input type="text" id="email" class="form-control" name="email" placeholder="Nhập email/số điện thoại ..." required="">
                            </div>
                            <div class="mb-3 d-grid">
                                <button type="submit" class="btn btn-primary">
                                    Tiếp tục
                                </button>
                            </div>
                            <span>Bạn đã có tài khoản? <a href="#">Đăng nhập</a></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div th:hidden="${notitication}"> -->
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="margin-top: 50px;">
        <div class="toast-header">
            <!-- <img src="..." class="rounded me-2" alt="..."> -->
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
    <!-- </div> -->





</body>

</html>