<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{index_admin::areas(~{::.container-fluid})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
		<div class="container-fluid">
                <!--  Row 1 -->
                <div class="col-lg-12 mb-3">
                    <h5 class="mb-3">Danh Sách Tài Khoản</h5>
                    <table class="table tbl-edit">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Họ và tên</th>
                                <th scope="col">Tên đăng nhập</th>
                                <th scope="col">Vai trò</th>
                                <th scope="col">Lần đăng nhập cuối</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <th scope="row">1</th>
                                <td>Tô Quốc Tùng</td>
                                <td>Lucas</td>
                                <td>Người dùng</td>
                                <td>12/09/2023</td>
                                <td class="d-flex">
                                    <a type="button" href="#" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i> Chi tiết</a>
                                    <span style="font-size: 25px; color: black; margin: 0 5px;">|</span>
                                    <a type="button" href="#" class="btn btn-primary"><i class="fa-solid fa-trash" style="color: #ffffff;"></i> Xóa</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-12 mb-3">
                    <form action="#" class="form-edit-user-list">
                        <div class="mb-3 mt-2 mr-2 d-flex justify-content-end">
                            <div class="input-wrapper">
                                <button class="icon" type="button"> 
                                  <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="25px" width="25px">
                                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#fff" d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z"></path>
                                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#fff" d="M22 22L20 20"></path>
                                  </svg> -->
                                  <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                                <input placeholder="Nhập tên đăng nhập..." class="input" name="text" type="text">
                            </div>
                        </div>
                        <div class="mb-3">
                            <h5>Thông tin người dùng</h5>
                            <hr>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <div class="form-control-div">
                                    <input required="" type="text">
                                    <label>
                                        <span style="transition-delay:350ms">T</span>
                                        <span style="transition-delay:300ms">ê</span>
                                        <span style="transition-delay:250ms">n</span>
                                        <span style="transition-delay:250ms"></span>
                                        <span style="transition-delay:200ms">đ</span>
                                        <span style="transition-delay:150ms">ă</span>
                                        <span style="transition-delay:100ms">n</span>
                                        <span style="transition-delay:50ms">g</span>
                                        <span style="transition-delay:250ms"></span>
                                        <span style="transition-delay:0ms">n</span>
                                        <span style="transition-delay:0ms">h</span>
                                        <span style="transition-delay:0ms">ậ</span>
                                        <span style="transition-delay:0ms">p</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-control-div">
                                    <input required="" type="text">
                                    <label>
                                        <span style="transition-delay:350ms">E</span>
                                        <span style="transition-delay:300ms">m</span>
                                        <span style="transition-delay:250ms">a</span>
                                        <span style="transition-delay:200ms">i</span>
                                        <span style="transition-delay:150ms">l</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <div class="form-control-div">
                                    <input required="" type="text">
                                    <label>
                                        <span style="transition-delay:350ms">S</span>
                                        <span style="transition-delay:300ms">ố</span>
                                        <span style="transition-delay:250ms"></span>
                                        <span style="transition-delay:250ms">đ</span>
                                        <span style="transition-delay:250ms">i</span>
                                        <span style="transition-delay:200ms">ệ</span>
                                        <span style="transition-delay:150ms">n</span>
                                        <span style="transition-delay:250ms"></span>
                                        <span style="transition-delay:100ms">t</span>
                                        <span style="transition-delay:50ms">h</span>
                                        <span style="transition-delay:250ms">o</span>
                                        <span style="transition-delay:0ms">ạ</span>
                                        <span style="transition-delay:0ms">i</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="" class="mb-3 form-label-2">Vai trò</label>
                                <div class="radio-button-container">
                                    <div class="radio-button">
                                        <input type="radio" class="radio-button__input" id="radio1" name="radio-group">
                                        <label class="radio-button__label" for="radio1">
                                      <span class="radio-button__custom"></span>
                                      Quản trị viên
                                    </label>
                                    </div>
                                    <div class="radio-button">
                                        <input type="radio" class="radio-button__input" id="radio2" name="radio-group">
                                        <label class="radio-button__label" for="radio2">
                                      <span class="radio-button__custom"></span>
                                      Khách hàng
                                    </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-lg-6">
                                <div class="form-control-div">
                                    <input required="" type="text">
                                    <label>
                                        <span style="transition-delay:350ms">Đ</span>
                                        <span style="transition-delay:300ms">ă</span>
                                        <span style="transition-delay:250ms">n</span>
                                        <span style="transition-delay:250ms">g</span>
                                        <span style="transition-delay:250ms"></span>
                                        <span style="transition-delay:200ms">n</span>
                                        <span style="transition-delay:150ms">h</span>
                                        <span style="transition-delay:250ms">ậ</span>
                                        <span style="transition-delay:100ms">p</span>
                                    </label>

                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-control-div">
                                    <input required="" type="text">
                                    <label>
                                        <span style="transition-delay:350ms">L</span>
                                        <span style="transition-delay:300ms">ầ</span>
                                        <span style="transition-delay:250ms">n</span>
                                        <span style="transition-delay:250ms"></span>
                                        <span style="transition-delay:250ms">đ</span>
                                        <span style="transition-delay:200ms">ă</span>
                                        <span style="transition-delay:150ms">n</span>
                                        <span style="transition-delay:250ms">g</span>
                                        <span style="transition-delay:100ms"></span>
                                        <span style="transition-delay:50ms">n</span>
                                        <span style="transition-delay:250ms">h</span>
                                        <span style="transition-delay:0ms">ậ</span>
                                        <span style="transition-delay:0ms">p</span>
                                        <span style="transition-delay:50ms"></span>
                                        <span style="transition-delay:50ms">c</span>
                                        <span style="transition-delay:250ms">u</span>
                                        <span style="transition-delay:0ms">ố</span>
                                        <span style="transition-delay:0ms">i</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button class="button col-lg-2 mb-3" type="button">
                                <i class="fa-solid fa-plus" style="color: #ffffff; margin-right: 10px;"></i> 
                                  Thêm 
                            </button>
                            <button class="button col-lg-3 mb-3" type="button" style="width: 200px;">
                                <i class="fa-solid fa-lock" style="color: #ffffff; margin-right: 10px;"></i>
                                Khóa tài khoản 
                            </button>

                            <button class="button col-lg-3 mb-3" type="button" style="width: 170px;">
                                <svg viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"></path>
                                    <path d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" fill-rule="evenodd"></path>
                                </svg>
                                Làm mới 
                            </button>
                        </div>
                    </form>
                </div>
            </div>
	</main>
</body>
</html>